<ion-content [fullscreen]="true">
  <div id="container">
    <h3> Prévisions de demain en noeuds</h3>

    <ion-item >
      <ion-select class="itemSpot" value="48518" [(ngModel)]="spot" placeholder="Selectionez le spot" (ionChange)="getData()">
        <ion-select-option value="48414">Sables d'or</ion-select-option>
        <ion-select-option value="190">Saint Jean de Monts</ion-select-option>
        <ion-select-option value="198">Saint Brévin-les-Pins</ion-select-option>
        <ion-select-option value="48518">Fromentine</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card>
      <ion-card-content>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[0].demain)">03H00</div>
          <span>{{previsionsDemain[0].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[1].demain)">05H00</div>
          <span>{{previsionsDemain[1].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[2].demain)">07H00</div>
          <span>{{previsionsDemain[2].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[3].demain)">09H00</div>
          <span>{{previsionsDemain[3].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[4].demain)">11H00</div>
          <span>{{previsionsDemain[4].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[5].demain)">13H00</div>
          <span>{{previsionsDemain[5].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[6].demain)">15H00</div>
          <span>{{previsionsDemain[6].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[7].demain)">17H00</div>
          <span>{{previsionsDemain[7].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[8].demain)">19H00</div>
          <span>{{previsionsDemain[8].demain}} noeuds</span>
        </div>

        <div>
          <div class="click-chip" [ngStyle]="couleur(previsionsDemain[9].demain)">21H00</div>
          <span>{{previsionsDemain[0].demain}} noeuds</span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>